
<br>
<h3><%= params[:answer] %> - You</h1>
<br>



<h3><%=if params[:answer] == "I am going to work"
    "Great!"
elsif params[:answer].include?('?')
  "Silly question, get dressed and go to work!"
else
  "I dont care, get dressed and go to work!"
end %> - Your Coach</h3>

<br>

<%= link_to "Ask A Question", ask_path(@ask), :class => "btn btn-primary" %>
