<br>
<br>
<h1> Enter Your Question Below </h1>
<br>
<br>

<form action="/answer" data-turbo="false">
  <input type="text" name="answer" class="col-sm-2 col-form-label">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
